name: lint-commits

on: workflow_call

jobs:
  lint-commits:
    timeout-minutes: 5

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.0

      - uses: khulnasoft-lab/action-commit-lint@v2.2.0
        with:
          config: .github/linters/.commit-lint.yml
